@global-muted-text-color: #A1A1A1;

@navbar-default-bg: #323232;
@navbar-brand-color: #fff;
@navbar-brand-background: #3187C8;
@navbar-color: #fff;
@navbar-active-background: lighten(@navbar-default-bg, 10%);
@navbar-active-color: #fff;
@navbar-hover-color: #fff;
@navbar-hover-background: #B73A3A;
@navbar-active-hover-background: #B73A3A;
@navbar-active-hover-color: #fff;
@navbar-active-border-width: 4px;
@navbar-active-border-type: solid;
@navbar-toggle-border-color: #616161;
@navbar-toggle-border-color-hover-focus: #474747;

@error-number-font-size: 124px;
@error-focused-message-font-size: 28px;
@error-message-font-size: 21px;
@error-message-color: #5C5C5C;

@tooltip-padding: 8px;
@tooltip-font-size: 14px;