@navbar-background: #323232;
@navbar-brand-color: #fff;
@navbar-color: #fff;
@navbar-active-background: #3187C8;
@navbar-active-color: #fff;
@navbar-hover: #3187C8;
@navbar-active-hover-background: #fff;
@navbar-active-hover-color: #3187C8;