@global-muted-text-color: #A1A1A1;

@navbar-background: #323232;
@navbar-brand-color: #fff;
@navbar-brand-background: #3187C8;
@navbar-color: #fff;
@navbar-active-background: lighten(@navbar-background, 10%);
@navbar-active-color: #fff;
@navbar-hover-color: #fff;
@navbar-hover-background: #B73A3A;
@navbar-active-hover-background: #B73A3A;
@navbar-active-hover-color: #fff;

@error-number-font-size: 124px;
@error-focused-message-font-size: 28px;
@error-message-font-size: 21px;
@error-message-color: #5C5C5C;
