<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         bootstrap="app/Tests/Bootstrap/Bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <filter>
        <blacklist>
            <directory>vendor/</directory>
            <file>app/Application.php</file>
        </blacklist>
    </filter>
    <testsuites>
        <testsuite name="Tricolore Test Suite">
            <directory>app/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
