<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="dropdown pull-left" style="padding: 8px">
        <button class="btn btn-link btn-no-shadow navbar-menu-dropdown-link dropdown-toggle" type="button" id="dp-menu" data-toggle="dropdown" aria-expanded="true">
          <i class="fa fa-bars"></i>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dp-menu">
          <li role="presentation">
            <a href="{{ url('home') }}"><i class="fa fa-home"></i> {% trans %}Home{% endtrans %}</a>
          </li>
          <li role="presentation">
            <a href="{{ url('hello', {'name': name is defined ? name : 'Jurij'}) }}"><i class="fa fa-heart"></i> Example page</a>
          </li>
          <li role="presentation">
            <a href="https://github.com/Macsch15/Tricolore"><i class="fa fa-github"></i> Project on GitHub</a>
          </li>
        </ul>
      </div>

      <div class="navbar-brand">
        <a href="{{ url('home') }}">Tricolore</a>
      </div>
    </div>

    <div class="auth-buttons pull-right">
      <a href="{{ url('auth') }}"><b>{% trans %}Log in{% endtrans %}</b></a>
      &nbsp;<em>{% trans %}or{% endtrans %}</em>&nbsp;
      <button type="submit" class="btn btn-primary">{% trans %}Sign Up{% endtrans %}</button>
    </div>

    <form class="navbar-form navbar-left" role="form">
      <div class="form-group">
        <input type="text" placeholder="Search forum..." class="fast-search-input form-control">

        <span class="fast-search-icon">
          <button class="fast-search-button" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
  </div>
</nav>