.container .jumbotron-exception {
  padding: 10px 30px 10px 30px;
  background: #F2F2F2;
}

.exception-message {
  margin-bottom: 35px;
}

.exception-helpers {
  color: @exceptions-helpers-font-color;
}

.line-number span {
  color: @exceptions-line-number-font-color;
}

.less-font-size {
  font-size: 20px;
}

.server-error {
  font-size: @exceptions-server-error-font-size;
  padding: 15px;
  font-weight: bold;
}

.exception-prod-container {
  margin: 4% auto;
  max-width: @exception-prod-container-width;
}

.exception-prod-maintitle {
  background: @exception-prod-maintitle-background;
  color: @exception-prod-maintitle-color;
  padding: 1px 12px 2px 12px;
}

.exception-prod-message {
  background: @exception-prod-message-background;
  font-size: @exception-prod-message-font-size;
  line-height: @exception-prod-message-line-height;
  padding: 15px;
}

.exception-prod-button {
  background: @exception-prod-maintitle-background;
  border: none;
  margin: 10px 0 0 0;
}