.installer-container {
  width: 840px;
  margin: 15px auto;
  padding: 0;
  border: 1px #E8E8E8 solid;
}

.installer-title h3 {
  padding: 0;
  margin: 0;
}

.installer-title {
  padding: 10px;
  background: #E8E8E8;
  color: #666666;
}

.installer-content {
  padding: 15px;
}

.installer-description {
  font-size: 16px;
}

.installer-ok:before {
  content: "\f00c";
  color: #5DCA4F;
}

.installer-fail:before {
  content: "\f00d";
  color: #C53A3A;
}

.installer-requirements-list {
  margin: 0 0 15px 13px;
}