{% extends "BaseBlockOnlyAssets.html.twig" %}

{% block head_title %}{% trans %}AdminCP Authorization{% endtrans %}{% endblock %}
{% block container_class %}backend-auth-panel-width{% endblock %}

{% block body_content %}
  <div class="backend-auth-panel-top-space">
    <h1>{% trans %}AdminCP Authorization{% endtrans %}</h1>

    <div class="backend-auth-panel-background">
      {% if is_valid %}
        <div class="alert alert-success" role="alert"><i class="fa fa-check"></i> Welcome to AdminCP</div>
      {% endif %}

      {{ form(form, {'action': url('admincp_auth')}) }}

      <br />
      <a href="{{ url('home') }}"><span class="ion-arrow-return-left"></span> Return to homepage</a>
    </div>
  </div>
{% endblock %}