{% extends "BaseBlockOnlyAssets.html.twig" %}

{% block head_title %}{% trans %}Authentication{% endtrans %}{% endblock %}
{% block container_class %}backend-auth-panel-width{% endblock %}

{% block body_content %}
  <div class="backend-auth-panel-top-space">
    <div class="backend-auth-panel-background">
      <h1>{% trans %}Authentication{% endtrans %}</h1>
      
      {% if is_valid %}
        <div class="alert alert-success" role="alert">Welcome to AdminCP</div>
      {% endif %}

      {{ form(form, {'action': url('admincp_auth')}) }}

      <br />
      <a href="{{ url('home') }}"><span class="glyphicon glyphicon-arrow-left"></span> Return to homepage</a>
    </div>
  </div>
{% endblock %}