.backend-auth-panel-width {
  width: @auth-backend-auth-panel-width;
}

.backend-auth-panel-top-space {
  margin: @auth-backend-auth-panel-top-space-margin;
}

.backend-auth-panel-background {
  background: @auth-backend-auth-panel-background;
  border: @auth-backend-auth-panel-border;
  padding: @auth-backend-auth-panel-padding;
}

.backend-auth-button-continue {
  font-size: @auth-backend-auth-button-continue-font-size;
  font-weight: @auth-backend-auth-button-continue-font-weight;
}