{% extends "BaseBlock.html.twig" %}

{% block head_title %}{% trans %}Authentication{% endtrans %}{% endblock %}
{% block container_class %}frontend-auth-panel-width{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb.addChild("Authentication"|trans) }}
{% endblock %}

{% block body_content %}
  <div class="frontend-auth-panel-top-space">
    <h1>{% trans %}Authentication{% endtrans %}</h1>

    <div class="frontend-auth-panel-background">
      {{ form(form, {'action': url('auth')}) }}

      <br />
      <a href="#"><b>{% trans %}Forgot your password?{% endtrans %}</b></a><br />
      <a href="{{ url('register') }}"><b>{% trans %}Don't have an account yet?{% endtrans %}</b></a><br />
      <a href="{{ url('home') }}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}Return to homepage{% endtrans %}</a>
    </div>
  </div>
{% endblock %}