{% extends "BaseBlock.html.twig" %}

{% block head_title %}Hello World!{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb.addChild("Hello " ~ name, url('hello', {'name': member['username'] })) }}
{% endblock %}

{% block body_content %}
  <div class="jumbotron">
    <h1>Hello {{ member['username'] }}</h1>

    <p>Current role: {{ memberInstance.getRole() }}</p>
  </div>
{% endblock %}