  <h2 class="category-title">Category 1 <i class="category-toggle fa fa-minus-square-o pull-right"></i></h2>

  <div class="forums-block">
    <ul class="forums-list list-unstyled">
      <li>
        <i class="fa fa-comment-o fa-2x pull-left"></i>

        <a href="#">
          <div class="forum-title pull-left fa-lg">Lorem ipsum Cupidatat sunt labore magna occaecat proident</div>
        </a>

        <div class="forum-last-activity pull-right">
          <img width="55" height="55" src="http://www.i.cytryna.org.pl/1416639599278.jpg" alt="..." class="pull-left img-circle">

          <div class="forum-last-activity-discussion">
            <a href="#">Lorem ipsum Velit Duis do fugiat ut id...</a><br />
            <a href="#"><b>MyBotPoster</b></a> <small class="forum-last-activity-timestamp">5 minutes ago</small>
          </div>
        </div>

        <span class="label label-info pull-left" data-toggle="tooltip" data-placement="bottom" title="12 558 771 discussions">1 mln+</span>

        <div class="forum-description">
          <small>Lorem ipsum In dolore do fugiat ut id esse aute elit amet reprehenderit sit nulla quis velit non Duis cupidatat dolor est est in minim enim consectetur cupidatat sunt culpa ad eiusmod et culpa commodo eu sunt sit esse proident aliquip ut.</small>
        </div>
      </li>

      <li>
        <i class="fa fa-comment fa-2x pull-left"></i>

        <a href="#">
          <div class="forum-title pull-left fa-lg">Lorem ipsum Commodo adipisicing laborum esse ut sunt</div>
        </a>

        <div class="forum-last-activity pull-right">
          <img width="55" height="55" src="http://www.i.cytryna.org.pl/1416641048375.jpg" alt="..." class="pull-left img-circle">

          <div class="forum-last-activity-discussion">
            <a href="#">Lorem ipsum Adipisicing velit anim do...</a><br />
            <a href="#"><b>LexerMastero</b></a> <small class="forum-last-activity-timestamp">5 minutes ago</small>
          </div>
        </div>

        <span class="label label-info pull-left" data-toggle="tooltip" data-placement="bottom" title="7154 discussions">7154</span>

        <div class="forum-description">
          <small>Lorem ipsum Irure veniam dolor dolore tempor id.</small>
        </div>
      </li>
      <li>
        <i class="fa fa-comment-o fa-2x pull-left"></i>

        <a href="#">
          <div class="forum-title pull-left fa-lg">Lorem ipsum In Duis irure sint in occaecat</div>
        </a>

        <div class="forum-last-activity pull-right">
          <img width="55" height="55" src="http://www.i.cytryna.org.pl/1416641067941.jpg" alt="..." class="pull-left img-circle">

          <div class="forum-last-activity-discussion">
            <a href="#">Lorem ipsum Velit Duis do fugiat ut id...</a><br />
            <a href="#"><b>Oi Ryan</b></a> <small class="forum-last-activity-timestamp">5 minutes ago</small>
          </div>
        </div>

        <span class="label label-info pull-left" data-toggle="tooltip" data-placement="bottom" title="This forum has no discussions">0</span>

        <div class="forum-description">
          <small>Lorem ipsum Consequat eiusmod cupidatat nisi consectetur exercitation aliquip ad eu aliquip amet sed id reprehenderit fugiat magna ea enim mollit ut adipisicing culpa deserunt cupidatat et incididunt consequat aliquip occaecat anim eiusmod esse tempor ullamco laborum incididunt magna id labore nisi in laborum culpa Excepteur id in Excepteur sit nisi adipisicing ut proident do amet et laboris consequat labore ea minim minim proident amet Ut sit officia fugiat eu minim nisi.</small>
        </div>
      </li>
      <li>
        <i class="fa fa-comment fa-2x pull-left"></i>

        <a href="#">
          <div class="forum-title pull-left fa-lg">Lorem ipsum Nulla ut ad ullamco dolor</div>
        </a>

        <div class="forum-last-activity pull-right">
          <img width="55" height="55" src="http://www.i.cytryna.org.pl/1416641082701.jpg" alt="..." class="pull-left img-circle">

          <div class="forum-last-activity-discussion">
            <a href="#">Lorem ipsum Velit Duis do fugiat ut id...</a><br />
            <a href="#"><b>Richard C.</b></a> <small class="forum-last-activity-timestamp">5 minutes ago</small>
          </div>
        </div>

        <span class="label label-info pull-left" data-toggle="tooltip" data-placement="bottom" title="114778 discussions">114778</span>

        <div class="forum-description">
          <small>Lorem ipsum In dolore do fugiat ut id esse aute elit amet reprehenderit sit nulla quis velit non Duis cupidatat dolor est est in minim enim consectetur cupidatat sunt culpa ad eiusmod et culpa commodo eu sunt sit esse proident aliquip ut.</small>
        </div>
      </li>
      <li>
        <i class="fa fa-comment fa-2x pull-left"></i>

        <a href="#">
          <div class="forum-title pull-left fa-lg">Lorem ipsum Velit irure et dolor deserunt</div>
        </a>

        <div class="forum-last-activity pull-right">
          <img width="55" height="55" src="http://www.i.cytryna.org.pl/1416641098588.jpg" alt="..." class="pull-left img-circle">

          <div class="forum-last-activity-discussion">
            <a href="#">Lorem ipsum Velit Duis do fugiat ut id...</a><br />
            <a href="#"><b>MyBotPoster</b></a> <small class="forum-last-activity-timestamp">5 minutes ago</small>
          </div>
        </div>

        <span class="label label-info pull-left" data-toggle="tooltip" data-placement="bottom" title="881 discussions">881</span>

        <div class="forum-description">
          <small>Lorem ipsum In dolore do fugiat ut id esse aute elit amet reprehenderit sit nulla quis velit non Duis.</small>
        </div>
      </li>
    </ul>
  </div>

  <hr />

  <h2 class="category-title">Category 2 <i class="category-toggle fa fa-minus-square-o pull-right"></i></h2>

  <div class="forums-block">
    <ul class="forums-list list-unstyled">
      <li>
        <i class="fa fa-comment-o fa-2x pull-left"></i>

        <a href="#">
          <div class="forum-title pull-left fa-lg">Lorem ipsum Cupidatat sunt labore magna occaecat proident</div>
        </a>

        <div class="forum-last-activity pull-right">
          <img width="55" height="55" src="http://www.i.cytryna.org.pl/1416639599278.jpg" alt="..." class="pull-left img-circle">

          <div class="forum-last-activity-discussion">
            <a href="#">Lorem ipsum Velit Duis do fugiat ut id...</a><br />
            <a href="#"><b>MyBotPoster</b></a> <small class="forum-last-activity-timestamp">5 minutes ago</small>
          </div>
        </div>

        <span class="label label-info pull-left" data-toggle="tooltip" data-placement="bottom" title="12 558 771 discussions">1 mln+</span>

        <div class="forum-description">
          <small>Lorem ipsum In dolore do fugiat ut id esse aute elit amet reprehenderit sit nulla quis velit non Duis cupidatat dolor est est in minim enim consectetur cupidatat sunt culpa ad eiusmod et culpa commodo eu sunt sit esse proident aliquip ut.</small>
        </div>
      </li>
      <li>
        <i class="fa fa-comment fa-2x pull-left"></i>

        <a href="#">
          <div class="forum-title pull-left fa-lg">Lorem ipsum Commodo adipisicing laborum esse ut sunt</div>
        </a>

        <div class="forum-last-activity pull-right">
          <img width="55" height="55" src="http://www.i.cytryna.org.pl/1416641048375.jpg" alt="..." class="pull-left img-circle">

          <div class="forum-last-activity-discussion">
            <a href="#">Lorem ipsum Adipisicing velit anim do...</a><br />
            <a href="#"><b>LexerMastero</b></a> <small class="forum-last-activity-timestamp">5 minutes ago</small>
          </div>
        </div>

        <span class="label label-info pull-left" data-toggle="tooltip" data-placement="bottom" title="7154 discussions">7154</span>

        <div class="forum-description">
          <small>Lorem ipsum Irure veniam dolor dolore tempor id.</small>
        </div>
      </li>
      <li>
        <i class="fa fa-comment-o fa-2x pull-left"></i>

        <a href="#">
          <div class="forum-title pull-left fa-lg">Lorem ipsum In Duis irure sint in occaecat</div>
        </a>

        <div class="forum-last-activity pull-right">
          <img width="55" height="55" src="http://www.i.cytryna.org.pl/1416641067941.jpg" alt="..." class="pull-left img-circle">

          <div class="forum-last-activity-discussion">
            <a href="#">Lorem ipsum Velit Duis do fugiat ut id...</a><br />
            <a href="#"><b>Oi Ryan</b></a> <small class="forum-last-activity-timestamp">5 minutes ago</small>
          </div>
        </div>

        <span class="label label-info pull-left" data-toggle="tooltip" data-placement="bottom" title="This forum has no discussions">0</span>

        <div class="forum-description">
          <small>Lorem ipsum Consequat eiusmod cupidatat nisi consectetur exercitation aliquip ad eu aliquip amet sed id reprehenderit fugiat magna ea enim mollit ut adipisicing culpa deserunt cupidatat et incididunt consequat aliquip occaecat anim eiusmod esse tempor ullamco laborum incididunt magna id labore nisi in laborum culpa Excepteur id in Excepteur sit nisi adipisicing ut proident do amet et laboris consequat labore ea minim minim proident amet Ut sit officia fugiat eu minim nisi.</small>
        </div>
      </li>
      <li>
        <i class="fa fa-comment fa-2x pull-left"></i>

        <a href="#">
          <div class="forum-title pull-left fa-lg">Lorem ipsum Nulla ut ad ullamco dolor</div>
        </a>

        <div class="forum-last-activity pull-right">
          <img width="55" height="55" src="http://www.i.cytryna.org.pl/1416641082701.jpg" alt="..." class="pull-left img-circle">

          <div class="forum-last-activity-discussion">
            <a href="#">Lorem ipsum Velit Duis do fugiat ut id...</a><br />
            <a href="#"><b>Richard C.</b></a> <small class="forum-last-activity-timestamp">5 minutes ago</small>
          </div>
        </div>

        <span class="label label-info pull-left" data-toggle="tooltip" data-placement="bottom" title="114778 discussions">114778</span>

        <div class="forum-description">
          <small>Lorem ipsum In dolore do fugiat ut id esse aute elit amet reprehenderit sit nulla quis velit non Duis cupidatat dolor est est in minim enim consectetur cupidatat sunt culpa ad eiusmod et culpa commodo eu sunt sit esse proident aliquip ut.</small>
        </div>
      </li>
      <li>
        <i class="fa fa-comment fa-2x pull-left"></i>

        <a href="#">
          <div class="forum-title pull-left fa-lg">Lorem ipsum Velit irure et dolor deserunt</div>
        </a>

        <div class="forum-last-activity pull-right">
          <img width="55" height="55" src="http://www.i.cytryna.org.pl/1416641098588.jpg" alt="..." class="pull-left img-circle">

          <div class="forum-last-activity-discussion">
            <a href="#">Lorem ipsum Velit Duis do fugiat ut id...</a><br />
            <a href="#"><b>MyBotPoster</b></a> <small class="forum-last-activity-timestamp">5 minutes ago</small>
          </div>
        </div>

        <span class="label label-info pull-left" data-toggle="tooltip" data-placement="bottom" title="881 discussions">881</span>

        <div class="forum-description">
          <small>Lorem ipsum In dolore do fugiat ut id esse aute elit amet reprehenderit sit nulla quis velit non Duis.</small>
        </div>
      </li>
    </ul>
  </div>