<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tricolore</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ config('base.full_url') }}"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="https://github.com/Macsch15/Tricolore"><i class="fa fa-github"></i> Project on GitHub</a></li>
      </ul>
    </div>
  </div>
</div>