{% macro getAllMessages() %}
  {% for type, message in app.getSession().getFlashBag().all() %}
    {% if type == 'alert-success' %}
      {% set icon_set = 'fa-check' %}
    {% endif %}

    {% if type == 'alert-info' %}
      {% set icon_set = 'fa-question-circle' %}
    {% endif %}

    {% if type == 'alert-warning' or type == 'alert-danger' %}
      {% set icon_set = 'fa-exclamation-circle' %}
    {% endif %}

    <div class="flash-message alert {{ type }}">
      <i class="fa {{ icon_set|default('fa-question-circle') }}"></i> <b>{{ message.0 }}</b>
    </div>
  {% endfor %}
{% endmacro %}